.app-container {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(244, 167, 67);
}

.app-tab-content-container {
  width: 70%;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.app-tab-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content:center; 
} 

.app-content {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  background-color: white;
  padding: 20px;
  overflow: auto;
}

.app-content h1 {
  text-align: center;
}

.app-content::-webkit-scrollbar {
  display: none;
}

.tab-container {
  display: flex;
  border-top: 1.5px solid black;
  border-left: 2px solid rgba(86, 85, 85, 0.186);
  border-right: 2px solid rgba(86, 85, 85, 0.186);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(240, 231, 220);
  cursor: pointer;
}

.tab-selected {
  border-top: 4px solid black;
  border-left: 2px solid rgba(86, 85, 85, 0.186);
  border-right: 2px solid rgba(86, 85, 85, 0.186);
  border-bottom: none;
  background-color: white;
  cursor: default;
}